<div class="navbar">
		<h4 class="h4-busca"> <span><%= link_to "ICadastra", root_url %></span> 
		<%= form_tag busca_cadastro_path, method: :get, class: "navbar-form navbar-right"%>
		<%= text_field_tag :nome, "Pesquisa por Nome" %>
		<%= button_to "Procurar", class: "btn btn-default" %>
		</h4>
		
</div>

<% if flash[:notice]%>
	<div class="alert alert-warning">	
		
	<a href="/novo_cadastro"><%= flash[:notice] %></a>
	 </div>
<%end%> <br><br>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Nome</th>
			<th>CPF</th>
			<th>RG</th>
			<th>Telefone</th>
			<th>Veículo</th>
		</tr>
	</thead> 

	<tbody>
		<% @cadastro_buscado.each do |cadastro| %>
		<tr>
			<td><%= cadastro.nome.upcase %></td>
			<td><%= cadastro.cpf %></td>
			<td><%= cadastro.rg %></td>
			<td><%= cadastro.telefone %></td>
			<td><%= cadastro.veiculo %></td>
			<td><%= button_to "Deletar", cadastro, method: :delete, class: "btn btn-danger" %></td>
		
		</tr>
		
	</tbody>
	<%end%>
</table>